*{
    margin: 0;
    padding: 0;
}

.body_center {
    max-width: 1200px;
    margin: 0 auto;
}

.body_background_events {
    background-color: #4f555b;
    background-size: cover;
    padding: 10px;

}

.body_background_index {
    background-color: #4f555b;
    background-size: cover;
    width: 100%

}


.logo_background {
    background: url("../img/logo.png");
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.navi_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b5e2e2;
    top: 0;
    width: 100%;
}

.navi_bar li {
    float: left;
}

.navi_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.navi_bar li a:hover:not(.active) {
    background-color: #7accba;
    transition: all 1.4s;
}

.register_form {
    margin-top: 150px; 
    z-index: 1;
}

.login_form {
    margin-top: 250px;
}

.register_form input[type=text], input[type=password], input[type=password], input[type=number], input[type=radio]{
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 500px;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.register_form label[for=fname], label[for=sname], label[for=email], label[for=pass], label[for=years], label[for=gender], label[for=male] {
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: gray;
}

.register_form input[type=submit] {
    width: 500px;
    height: 40px;
    background-color: #b5e2e2;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}

.register_form input[type=submit]:hover {
    background-color: #7accba;
    transition: all 1.4s;
}

.bar_info {
    background-color: #b5e2e2;
    width: 100%;
    padding: 15px 15px;
    margin-top: 50px; 
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}

.content_style{
    background-color: #c5e5e5;
    text-align: center;
    width: 100%;
    padding: 22px 15px;
    border-radius: 20px;
    margin-top: 5px;
}

.body_center p {
    font-size: 25px;
    font-weight: bold;
}

.events {
    background-color: #c5e5e5;
    padding: 15px 15px;
    margin-top: 150px; 
    text-align: center;
    font-family: Arial;
    margin-bottom: 50px;
    border-radius: 12px;
}

.event_title {
    background-color: #bddbdb;
    font-size: 38px;
    border-radius: 11px;
}

.event_information {
    font-size: 22px;
    font-weight: bold;
}

.event_years {
    font-size: 19px;
    font-weight: bolder;
    color: red;
    margin-top: 0px; 
}

.time {
    font-size: 22px;
    font-weight: bolder;
    color: green;
}

.btn_event {
    width: 351px;
    background-color: cyan;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 12px;
    color: black;
    text-align: center;
    cursor: default;
}

.btn_event_join {
    width: 351px;
    background-color: limegreen;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 12px;
    color: black;
    text-align: center;
    margin-top: 11px; 
    cursor: default;
}

.btn_event_join:hover {
    background-color: green;
    transition: all 1.4s;
}

.btn_event:hover {
    background-color: #4593e3;
    transition: all 1.4s;
}

.cancel_btn {
    width: 500px;
    background-color: red;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

.cancel_btn:hover {
    background-color: #b71818;
    transition: all 1.4s;
}

.error span {
    color: white;
    font-size: 26px;
    display: block;
}

.footer-copyright {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 15px 15px;
    color: white;
    background-color: #4f555b;
}



.addevent label{
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: gray;
    margin-bottom: 15px;
    margin-top: 15px;
}

.addevent {
    margin-top: 250px;
}

.event_input {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 500px;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.event_agecontrol{
    box-sizing: border-box;
    margin: 0 auto;
    width: 500px;
    height: 35px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.events_information{
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 500px;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    resize: none;
}

.information_add_event {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 550px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    resize: none;
}

.add_event input[type=submit] {
    width: 500px;
    height: 40px;
    background-color: #b5e2e2;
    border: none;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}

.add_event input[type=submit]:hover {
    background-color: #7accba;
    transition: all 1.4s;
}

.event_table {
    border: 1px solid aqua;
    display: block;
}